html,body {
  background-color: var(--color-background);
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  height: 100%
}

#phoneboard .col-sm {
  // padding-top: 1.5vw;
  padding-top: calc(1em + .75vw);
}

#mastercontrol {
  // padding-top: 1.75vw;
  padding-top: calc(1em + .75vw);
}

#mastercontrol .col {
  background: var(--color-black);
  margin-left: calc(.5em + .25vw);
  margin-right: calc(.5em + .25vw);
  padding: 1em;
  border-radius: 12px;
}



#mastercontrol h2 {
  color: var(--color-white);
  font-size: calc(1.5em + 2vw);
  font-family: 'IBM Plex Sans';
  font-weight: 800;
  margin-bottom: 0px;
}

#mastercontrol h2 a {
  color: var(--color-white);
  text-decoration: none;
}

.card {
  background-color: var(--color-black);
  border: 1px solid var(--color-shadow);
  color: var(--color-white);
}

h3 {
  font-family: 'IBM Plex Sans';
  font-weight: 800;
}


#clockboard {
  // height: 200px;
  background: var(--color-black);

}

#clockboard .col-sm {
  // margin-top: 1.5vw;
  // margin-bottom: 1.5vw;
  margin-top: calc(1em + .75vw);
  margin-bottom: calc(1em + .75vw);
  // padding-top: 2vw;
}

.clock-box {
  background: black;
  border-radius: 12px;
}

.time {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: calc(1.25em + 2vw);
  font-style: italic;
  color: var(--color-white);
  margin-bottom: 0px;
}

.zone {
  font-family: 'IBM Plex Sans';
  font-weight: 200;
  font-size: calc(1em + .75vw);
  margin-bottom: 0px;
}



.venue-name {
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  font-style: italic;
}

.col-sm {
  color: var(--color-white);
  flex: 1 1 0;
  width: 0;
  padding: 0px;
  margin-left: calc(.5em + .25vw);
  margin-right: calc(.5em + .25vw);
  // min-width: 256px;
  min-width: 245px;
}

.channel_name {
  background-color: var(--color-black);
  border-radius: 12px 12px 0 0;
  border: .5px;
  border-color: var(--color-gray);
  border-style: solid;
}

.name {
  font-family: 'IBM Plex Sans';
  font-weight: bold;
  font-size: calc(1em + 1vw);
  margin-bottom: 0px;
}

.info-drawer {
  background-color: var(--color-black);
  border: .5px;
  border-color: var(--color-gray);
  border-style: solid;
  padding: 0em 1vw 1em 1em;
  // height: 240px;
}

.info-drawer p{
  font-size: calc(.9em + .5vw);
}

.info-drawer .row{
  padding-top: 0px;
}

.codec-time, .conference-time {
  font-family: 'IBM Plex Mono';
  font-weight: 100;
  // font-size: 1.5em;
  // font-size: 1.5vw;
  font-style: italic;
}

.codec-status {
  a, a:hover, a:focus {
    text-decoration: none;
    color: var(--color-white);
  }
}

.codec-status, .conference-status {
  font-family: 'IBM Plex Mono';
  // font-size: 1.5em;
  // font-size: 1.5vw;
  // font-weight: bold;
}

.codec-status span, .conference-status span{
  font-size: 150%;
}

.codec-drop, .conference-size {
  font-family: 'IBM Plex Mono';
  // font-weight: 100;
  // font-size: 1.5em;
  // font-size: 1.5vw;
  margin-bottom: 0px;
}


// colors
p.CONNECTED span {
  color: var(--color-green);
}

p.OPEN span {
  color: var(--color-yellow);
}

p.DISCONNECTED span {
  color: var(--color-red);
}

p.UNKNOWN span {
  color: var(--color-purple);
}

.channel_name {
  &.CONNECTED {
      background: var(--color-green);
  }

  &.OPEN {
      background: var(--color-yellow);
  }

  &.DISCONNECTED {
      background: var(--color-red);
  }

  &.UNKNOWN {
      background: var(--color-purple);
  }
}

.studio-light-box {
  position: relative;
  // top: -10px;
  // left: 0px;
  // bottom: 0px;
  // border-style: solid;
  // height: 100px;
  // border-color: var(--color-gray);
  width: 100%;
  background: var(--color-white);
}

.studio-light-box .btn-group {
  margin: .75em;
}

.studio-light {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  // font-style: italic;
  // font-size: 2em;
  font-size: calc(1em + 1vw);
  text-align: center!important;
  margin-bottom: 0px;
}

.ON-AIR {
  color: var(--color-green);
}

.OFF-AIR {
  color: var(--color-red);
}

// .UNKNOWN {
//   color: var(--color-purple);
// }

#phoneboard .col-sm .btn-group {
  // display: none;
}

.vu {
  color: var(--color-yellow);
  margin: 0px;
  position: absolute;
  top: 1em;
  right: 1em;
  display: none;
}


.message-board{
  display: none;
  background-color: var(--color-blue);
  color: var(--color-white);
  margin-left: -15px;
  margin-right: -15px;
  padding: 3em;
  height: 100%;
}

.message-board a {
  color: inherit;
}


.volume {
  height: calc(.5em + .25vw);
  width: 100%;
  background: var(--color-white);
  border-radius: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}


.volume .progress-bar {
  background-color: var(--color-green);
}

.webrtc-status {
  position: absolute;
  // left: 1vw;
  // top: .25vw;
  font-size: calc(.75em + .75vw);
  display: none;
  left: 10%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.flexfix {
  background-color: var(--color-background);
}


@media (max-width: 1024px) {
  .col-sm {
    min-width: 200px;
    margin-right: .5vw;
    margin-left: .5vw;
  }
  #mastercontrol .col {
    margin-left: .5vw;
    margin-right: .5vw;
  }
}

@media (max-width: 512px) {
  #clockboard {
    display: none;
  }

  #phoneboard .col-sm .channel_name{
    border-width: 0;
    border-radius: 0px;
  }

  #mastercontrol h2{
    font-size: 3em;
  }

  .name {
    font-size: 2.5em;
  }

  .info-drawer {
    display: none;
  }

  .info-drawer p {
    font-size: 1.5em;
  }

  .studio-light-box {
    display: none;
  }

  .studio-light {
    font-size: 3em;
  }

  .webrtc-status {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 1.5em;
    display: none;
  }

  #delay-row {
    padding-top: 0px!important;
  }

  #live-row {
    padding-top: 25px!important;
  }

  #mastercontrol {
    background: var(--color-black);
    // border-radius: 12px;
    // padding-left: 1em;
    // padding-right: 1em;
  }

  #phoneboard .col-sm {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    min-width: 256px;
  }
}
